[Unit]
Description=Create dns directory for samba domain


[Service]
Type=idle
ExecStart=/usr/bin/namedhelper.sh
RemainAfterExit=yes


[Install]
WantedBy=multi-user.target