[Desktop Entry]
Comment=User Management
Comment[en_US]=User Management
Encoding=UTF-8
Exec=/usr/bin/manageuser
GenericName=User Management
GenericName[en_US]=User Management
Icon=/usr/share/pixmaps/Pionux.png
MimeType=
Name=User Management
Name[en_US]=User Management
StartupNotify=false
Terminal=true
Type=Application